// Colors
$black: #000;
$gray: #555;
$silver: #eee;
$white: #fff;

// Helpers
$default-transition: all 300ms ease-in-out;

// Fonts
$default-font: Arial, Helvetica, sans-serif;

$light: 300;
$regular: 400;
$bold: 700;

// Screen sizes
$size-notebook: 1440px;
$size-tablet: 1024px;
$size-mobile: 768px;
